/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron{
  background-image: url("logo.jpg");
  background-position: 100% 5%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-color: white;
}

.row-padded {
  margin-top: 20px;
  padding: 35px;
  background-color: #F7F7F7;
  border: 1px solid #DDD;
}

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  color: #777;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  font-size: 18px;
}